<div class="page-header">
  <h1><%= t('user.navbar.edit_user') %> <%= @user.full_name %></h1>
</div>

<%= render partial: 'users/nav_tabs' %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal denser' }) do |form| %>

  <div class="fieldset">

    <% if resource.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(resource.errors.count, 'error') %> prohibited this
          invitation from being saved:</h2>

        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group control-group">
      <%= form.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :first_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :last_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="form-group control-group">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>

    <div class="form-group control-group">
      <%= form.label :password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.password_field :password, class: 'form-control' %>
        <span class="help-block"><%= @minimum_password_length %> characters minimum. Leave blank if you don't want to change it</span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :password_confirmation, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.password_field :password_confirmation, class: 'form-control' %>
        <span class="help-block">Leave blank if you don't want to change it</span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :current_password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.password_field :current_password, class: 'form-control' %>
        <span class="help-block">we need your current password to confirm your changes. Leave blank if you don't want to change it</span>
      </div>
    </div>

    <div class="form-group control-group">
      <div class='col-sm-2'></div>
      <div class='col-sm-8'>
        <%= form.button :submit, class: 'btn btn-primary btn-save' do %>
          <%= fa_icon('check', text: 'Save') %>
        <% end %>

        <%= link_to fa_icon('times', text: 'Cancel'), users_path, class: 'btn btn-secondary' %>
      </div>
    </div>

  </div>

<% end %>
