<div class="page-header">
  <h1><%= t('devise.sign_up') %></h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal denser' }) do |form| %>

  <div class="fieldset">

    <%= devise_error_messages! %>

    <%= hidden_field_tag :token, params[:token] %>
    <%= hidden_field_tag 'user[email]', params[:email] %>

    <div class="form-group control-group">
      <%= form.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= text_field_tag 'user[email]', params[:email], required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :first_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :first_name, autofocus: true, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :last_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :last_name, required: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.password_field :password, autocomplete: 'new-password', required: true, class: 'form-control' %>
        <span class="help-block"><%= @minimum_password_length %> <%= t('devise.characters_minimum') %></span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :password_confirmation, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.password_field :password_confirmation, autocomplete: 'new-password', required: true, class: 'form-control' %>
      </div>
    </div>

    <br>

    <div class="form-group control-group">
      <div class=' col-sm-2'></div>
      <div class=' col-sm-10'>
        <%= form.submit t('devise.sign_up_btn'), class: 'btn btn-primary btn-save' %>

        <br>
        <br>
        <%= render 'devise/shared/links' %>
      </div>
    </div>

  </div>

<% end %>
