<ul class='nav nav-tabs'>

  <li class="icon index_collection_link <%= index_active? %>">
    <%= link_to fa_icon('th-list', text: t('admin.navbar.list')), admins_path %>
  </li>

  <li class="icon invitations_collection_link <%= invitations_active? %>">
    <%= link_to fa_icon('envelope', text: t('admin.navbar.invitations')), invitations_admins_path %>
  </li>

  <li class="icon new_collection_link <%= new_active? %>">
    <%= link_to fa_icon('plus', text: t('admin.navbar.add_invitation')), new_admin_path %>
  </li>

  <% if edit_action? %>
    <li class="icon new_collection_link <%= edit_active? %>">
      <%= link_to fa_icon('pencil', text: t('common.edit')), '#' %>
    </li>
  <% end %>

  <% if index_action? %>

    <li class="dropdown right">
      <%= link_to t('admin.navbar.selected_items'), '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' %>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <%= link_to t('admin.navbar.deleted_items'), batch_destroy_admins_path, class: 'batch-destroy' %>
        </li>
      </ul>
    </li>

  <% end %>

</ul>
