<div class="page-header">
  <h1><%= t('admin.list.header') %></h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= render partial: 'filter' %>

<% if @admins.empty? %>
  <p> - <%= t('common.no_results_found') %> - </p>
<% else %>

  <div class="col-sm-12 without-padding">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th></th>
        <th>
          <%= link_to t('activerecord.attributes.user.email'), '#',
                      'data-field' => 'email',
                      class: "sort-link #{sort_class('email')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.user.first_name'), '#',
                      'data-field' => 'first_name',
                      class: "sort-link #{sort_class('first_name')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.user.last_name'), '#',
                      'data-field' => 'last_name',
                      class: "sort-link #{sort_class('last_name')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.user.updated_at'), '#',
                      'data-field' => 'updated_at',
                      class: "sort-link #{sort_class('updated_at')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.user.created_at'), '#',
                      'data-field' => 'created_at',
                      class: "sort-link #{sort_class('created_at')}" %>
        </th>
        <% if super_admin? %>
          <th>
            <%= link_to t('activerecord.attributes.user.company_id'), '#',
                        'data-field' => 'company_id',
                        class: "sort-link #{sort_class('company_id')}" %>
          </th>
        <% end %>
        <th><%= t('common.actions') %></th>
      </tr>
      </thead>

      <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td><%= check_box_tag 'select', 'yes', false, class: 'list-checkbox', 'data-id' => admin.id %></td>
          <td><%= admin.email %></td>
          <td><%= admin.first_name %></td>
          <td><%= admin.last_name %></td>
          <td><%= date_format(admin.updated_at) %></td>
          <td><%= date_format(admin.created_at) %></td>
          <% if super_admin? %>
            <td><%= admin.company.name %></td>
          <% end %>
          <td class="action-links">
            <%= link_to fa_icon('pencil', text: t('common.edit')), edit_admin_path(admin), class: 'action-link' %><br>
            <%= link_to fa_icon('times', text: t('common.delete')), admin_path(admin), method: :delete, data: { confirm: t('common.are_you_sure') }, class: 'action-link' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>
