<div class="page-header">
  <h1>List of Clients</h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= render partial: 'filter' %>

<div class="col-sm-6 without-padding">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Updated at</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= date_format(user.updated_at) %></td>
        <td><%= date_format(user.created_at) %></td>
        <td class="action-links">
          <%= link_to fa_icon('pencil', text: 'Edit'), edit_user_path(user), class: 'action-link' %>
          <%= link_to fa_icon('times', text: 'Delete'), user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
