<h2><%= t('devise.change_your_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal denser' }) do |form| %>

  <div class="fieldset">

    <%= devise_error_messages! %>
    <%= form.hidden_field :reset_password_token %>

    <div class="form-group control-group">
      <%= form.label :password, t('devise.new_password'), class: 'col-sm-2 control-label' %>
      <%# if @minimum_password_length %>
      <!--        (<%#= @minimum_password_length %> <%#= t('devise.characters_minimum') %>)-->
      <%# end %>
      <div class="col-sm-10 controls">
        <%= form.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :password_confirmation, t('devise.confirm_new_password'), class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <div class=' col-sm-2'></div>
      <div class=' col-sm-10'>
        <%= form.submit t('devise.change_my_password'), class: 'btn btn-primary btn-save' %>

        <br>
        <br>
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
  </div>
<% end %>
