<div class="page-header">
  <h1><%= t('devise.forgot_your_password') %></h1>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal denser' }) do |form| %>

  <div class="fieldset">
    <%= devise_error_messages! %>

    <div class="form-group control-group">
      <%= form.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group control-group">
      <div class=' col-sm-2'></div>
      <div class=' col-sm-10'>
        <%= form.submit t('devise.send_me_reset_password_instructions'), class: 'btn btn-primary btn-save' %>

        <br>
        <br>
        <%= render 'devise/shared/links' %>
      </div>
    </div>

  </div>

<% end %>
