<nav class="navbar fixed-top navbar-light bg-light">
  <div class="navbar-header">
    <%= link_to 'GS Software', root_path, class: 'navbar-brand' %>

    <% if user_signed_in? %>
      <%= link_to 'Receipts', receipts_path, class: 'link' %>
    <% end %>

    <% if admin? %>
      <%= link_to 'Products', products_path, class: 'link' %>
      <%= link_to 'Drivers', drivers_path, class: 'link' %>
      <%= link_to 'Clients', users_path, class: 'link' %>
    <% end %>

    <% if super_admin? %>
      <%= link_to 'Companies', companies_path, class: 'link' %>
    <% end %>

  </div>

  <div class='pull-right'>
    <% if user_signed_in? %>
      <span class="login-username">
        <%= "#{current_user.first_name} #{current_user.last_name}" %>
      </span>
      <%= link_to 'Log out', destroy_user_session_path, {method: 'delete', class: 'btn btn-outline-primary devise-link'} %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-outline-primary devise-link' %>
    <% end %>
  </div>
</nav>
