<%= form_with(model: notify, local: true, class: 'form-horizontal denser col-sm-12') do |form| %>

  <div class="fieldset">
    <% if notify.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(notify.errors.count, 'error') %> prohibited this
          notify from being saved:</h2>

        <ul>
          <% notify.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if controller.action_name == 'edit' %>
      <div class="form-group control-group">
        <%= form.label :number, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10 controls">
          <%= form.text_field :number, class: 'form-control' %>
          <span class="help-block">Required</span>
        </div>
      </div>
    <% end %>

    <div class="form-group control-group">
      <%= form.label :car_number, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :car_number, class: 'form-control' %>
        <span class="help-block">Required</span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :semitrailer_number, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.text_field :semitrailer_number, class: 'form-control' %>
        <span class="help-block">Required</span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :expiration_from, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.date_select :expiration_from, {use_month_numbers: true}, class: 'form-control date-picker' %>
        <span class="help-block">Required</span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :expiration_to, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.date_select :expiration_to, {use_month_numbers: true}, class: 'form-control date-picker' %>
        <span class="help-block">Required</span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :product_id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.select :product_id, options_for_products, {}, class: 'form-control' %>
        <span class="help-block">Required</span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :driver_id, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.select :driver_id, options_for_drivers, {}, class: 'form-control' %>
        <span class="help-block">Required</span>
      </div>
    </div>

    <div class="form-group control-group">
      <%= form.label :active, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10 controls">
        <%= form.select :active, options_for_active, {}, class: 'form-control' %>
        <span class="help-block">Required</span>
      </div>
    </div>

    <% if super_admin? %>
      <div class="form-group control-group">
        <%= form.label :company_id, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10 controls">
          <%= form.select :company_id, options_for_companies, {}, class: 'form-control' %>
          <span class="help-block">Required</span>
        </div>
      </div>
    <% end %>

    <div class="form-group control-group">
      <div class='col-sm-2'>
      </div>
      <div class='col-sm-8'>
        <%= form.button :submit, class: 'btn btn-primary btn-save' do %>
          <%= fa_icon('check', text: 'Save') %>
        <% end %>

        <%= link_to fa_icon('times', text: 'Cancel'), notifies_path, class: 'btn btn-secondary' %>
      </div>
    </div>

  </div>
<% end %>

<br>
<br>
<br>
