<div class="page-header">
  <h1><%= t('notify.list.header') %></h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= render partial: 'filter' %>

<% if @notifies.empty? %>
  <p> - <%= t('common.no_results_found') %> - </p>
<% else %>

  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th></th>
      <th>
        <%= link_to t('activerecord.attributes.notify.pin'), '#',
                    'data-field' => 'pin',
                    class: "sort-link #{sort_class('pin')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.number'), '#',
                    'data-field' => 'number',
                    class: "sort-link #{sort_class('number')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.car_number'), '#',
                    'data-field' => 'car_number',
                    class: "sort-link #{sort_class('car_number')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.trailer_number'), '#',
                    'data-field' => 'trailer_number',
                    class: "sort-link #{sort_class('trailer_number')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.client_id'), '#',
                    'data-field' => 'client_id',
                    class: "sort-link #{sort_class('client_id')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.product_id'), '#',
                    'data-field' => 'product_id',
                    class: "sort-link #{sort_class('product_id')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.driver_id'), '#',
                    'data-field' => 'driver_id',
                    class: "sort-link #{sort_class('driver_id')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.expiration_from'), '#',
                    'data-field' => 'expiration_from',
                    class: "sort-link #{sort_class('expiration_from')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.expiration_to'), '#',
                    'data-field' => 'expiration_to',
                    class: "sort-link #{sort_class('expiration_to')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.updated_at'), '#',
                    'data-field' => 'updated_at',
                    class: "sort-link #{sort_class('updated_at')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.user_id'), '#',
                    'data-field' => 'user_id',
                    class: "sort-link #{sort_class('user_id')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.created_at'), '#',
                    'data-field' => 'created_at',
                    class: "sort-link #{sort_class('created_at')}" %>
      </th>
      <th>
        <%= link_to t('activerecord.attributes.notify.active'), '#',
                    'data-field' => 'active',
                    class: "sort-link #{sort_class('active')}" %>
      </th>
      <% if super_admin? %>
        <th>
          <%= link_to t('activerecord.attributes.notify.hidden'), '#',
                      'data-field' => 'hidden',
                      class: "sort-link #{sort_class('hidden')}" %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.notify.company_id'), '#',
                      'data-field' => 'company_id',
                      class: "sort-link #{sort_class('company_id')}" %>
        </th>
      <% end %>
      <th><%= t('common.actions') %></th>
    </tr>
    </thead>

    <tbody>
    <% @notifies.each do |notify| %>
      <tr>
        <td><%= check_box_tag 'select', 'yes', false, class: 'list-checkbox', 'data-id' => notify.id %></td>
        <td><%= notify.pin %></td>
        <td><%= notify.number %></td>
        <td><%= notify.car_number %></td>
        <td><%= notify.trailer_number %></td>
        <td><%= notify.client.name %></td>
        <td><%= notify.product.name %></td>
        <td><%= notify.driver.try(:full_name) %></td>
        <td><%= date_format(notify.expiration_from) %></td>
        <td><%= date_format(notify.expiration_to) %></td>
        <td><%= date_format(notify.updated_at) %></td>
        <td><%= notify.user.full_name %></td>
        <td><%= date_format(notify.created_at) %></td>
        <td><%= fa_icon(notify.active ? 'check' : 'times') %></td>
        <% if super_admin? %>
          <td><%= fa_icon(notify.hidden ? 'times' : 'check') %></td>
          <td><%= notify.company.name %></td>
        <% end %>
        <td class="action-links">
          <%= link_to fa_icon('eye', text: t('common.view')), notify, class: 'action-link' %><br>
          <%= link_to fa_icon('pencil', text: t('common.edit')), edit_notify_path(notify), class: 'action-link' %><br>
          <%= link_to fa_icon('times', text: t('common.delete')), notify, method: :delete, data: { confirm: t('common.are_you_sure') }, class: 'action-link' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
