<div class="page-header">
  <h1>List of Notifies</h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= render partial: 'filter' %>

<% if @notifies.empty? %>
  <p> - no results found - </p>
<% else %>

  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th></th>
      <th>
        <%= link_to 'PIN', '#',
                    'data-field' => 'pin',
                    class: "sort-link #{sort_class('pin')}" %>
      </th>
      <th>
        <%= link_to 'Number', '#',
                    'data-field' => 'number',
                    class: "sort-link #{sort_class('number')}" %>
      </th>
      <th>
        <%= link_to 'Car number', '#',
                    'data-field' => 'car_number',
                    class: "sort-link #{sort_class('car_number')}" %>
      </th>
      <th>
        <%= link_to 'Semitrailer number', '#',
                    'data-field' => 'semitrailer_number',
                    class: "sort-link #{sort_class('semitrailer_number')}" %>
      </th>
      <th>
        <%= link_to 'Driver', '#',
                    'data-field' => 'driver_id',
                    class: "sort-link #{sort_class('driver_id')}" %>
      </th>
      <th>
        <%= link_to 'Product', '#',
                    'data-field' => 'product_id',
                    class: "sort-link #{sort_class('product_id')}" %>
      </th>
      <th>
        <%= link_to 'Expiration from', '#',
                    'data-field' => 'expiration_from',
                    class: "sort-link #{sort_class('expiration_from')}" %>
      </th>
      <th>
        <%= link_to 'Expiration to', '#',
                    'data-field' => 'expiration_to',
                    class: "sort-link #{sort_class('expiration_to')}" %>
      </th>
      <th>
        <%= link_to 'Editor', '#',
                    'data-field' => 'user_id',
                    class: "sort-link #{sort_class('user_id')}" %>
      </th>
      <th>
        <%= link_to 'Edited at', '#',
                    'data-field' => 'updated_at',
                    class: "sort-link #{sort_class('updated_at')}" %>
      </th>
      <th>
        <%= link_to 'Creator', '#',
                    'data-field' => 'user_id',
                    class: "sort-link #{sort_class('user_id')}" %>
      </th>
      <th>
        <%= link_to 'Created at', '#',
                    'data-field' => 'created_at',
                    class: "sort-link #{sort_class('created_at')}" %>
      </th>
      <th>
        <%= link_to 'Active', '#',
                    'data-field' => 'active',
                    class: "sort-link #{sort_class('active')}" %>
      </th>
      <% if super_admin? %>
        <th>
          <%= link_to 'Hidden', '#',
                      'data-field' => 'hidden',
                      class: "sort-link #{sort_class('hidden')}" %>
        </th>
        <th>
          <%= link_to 'Company', '#',
                      'data-field' => 'company_id',
                      class: "sort-link #{sort_class('company_id')}" %>
        </th>
      <% end %>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @notifies.each do |notify| %>
      <tr>
        <td><%= check_box_tag 'select', 'yes', false, class: 'list-checkbox', 'data-id' => notify.id %></td>
        <td><%= notify.pin %></td>
        <td><%= notify.number %></td>
        <td><%= notify.car_number %></td>
        <td><%= notify.semitrailer_number %></td>
        <td><%= notify.driver.full_name %></td>
        <td><%= notify.product.name %></td>
        <td><%= date_format(notify.expiration_from) %></td>
        <td><%= date_format(notify.expiration_to) %></td>
        <td><%= notify.user.full_name %></td>
        <td><%= date_format(notify.updated_at) %></td>
        <td><%= notify.user.full_name %></td>
        <td><%= date_format(notify.created_at) %></td>
        <td><%= fa_icon(notify.active ? 'check' : 'times') %></td>
        <% if super_admin? %>
          <td><%= fa_icon(notify.hidden ? 'check' : 'times') %></td>
          <td><%= notify.company.name %></td>
        <% end %>
        <td class="action-links">
          <%= link_to fa_icon('eye', text: 'View'), notify, class: 'action-link' %>
          <%= link_to fa_icon('pencil', text: 'Edit'), edit_notify_path(notify), class: 'action-link' %>
          <%= link_to fa_icon('times', text: 'Delete'), notify, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
