<div class="row">
  <div class="qr-code">
    <%= image_tag "data:image/jpeg;base64,#{@notify.base64_qrcode}", size: '200x200', class: 'qr-code' %>
  </div>
</div>

<br>
<br>

<p class="row">
  <label></label>
  <p><%= "#{t('activerecord.models.company')}: #{@notify.company.name}" %></p>
  <p><%= "#{t('activerecord.models.notify')}: #{@notify.number}" %></p>
  <p><%= "#{t('activerecord.attributes.notify.pin')}: #{@notify.pin}" %></p>
  <p><%= "#{t('activerecord.attributes.notify.number')}: #{@notify.number}" %></p>
  <p><%= "#{t('activerecord.attributes.notify.car_number')}: #{@notify.car_number}" %></p>
  <p><%= "#{t('activerecord.attributes.notify.trailer_number')}: #{@notify.trailer_number}" %></p>
  <p><%= "#{t('activerecord.models.client')}: #{@notify.client.name}" %></p>
  <p><%= "#{t('activerecord.models.product')}: #{@notify.product.try(:name)}" %></p>
  <p><%= "#{t('activerecord.models.driver')}: #{@notify.driver.try(:first_name)} #{@notify.driver.try(:last_name)}" %></p>
  <p><%= "#{t('activerecord.attributes.notify.expiration_from')}: #{date_format(@notify.expiration_from)}" %></p>
  <p><%= "#{t('activerecord.attributes.notify.expiration_to')}: #{date_format(@notify.expiration_to)}" %></p>
</div>
