<div class="page-header">
  <h1>List of Products</h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= render partial: 'filter' %>

<% if @products.empty? %>
  <p> - no results found - </p>
<% else %>

  <div class="col-sm-12 without-padding">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th></th>
        <th>
          <%= link_to 'Name', '#',
                      'data-field' => 'name',
                      class: "sort-link #{sort_class('name')}" %>
        </th>
        <th>
          <%= link_to 'Number', '#',
                      'data-field' => 'number',
                      class: "sort-link #{sort_class('number')}" %>
        </th>
        <th>
          <%= link_to 'Edited at', '#',
                      'data-field' => 'updated_at',
                      class: "sort-link #{sort_class('updated_at')}" %>
        </th>
        <th>
          <%= link_to 'Created at', '#',
                      'data-field' => 'created_at',
                      class: "sort-link #{sort_class('created_at')}" %>
        </th>
        <% if super_admin? %>
          <th>
            <%= link_to 'Company', '#',
                        'data-field' => 'company_id',
                        class: "sort-link #{sort_class('company_id')}" %>
          </th>
        <% end %>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= check_box_tag 'select', 'yes', false, class: 'list-checkbox', 'data-id' => product.id %></td>
          <td><%= product.name %></td>
          <td><%= product.number %></td>
          <td><%= date_format(product.updated_at) %></td>
          <td><%= date_format(product.created_at) %></td>
          <% if super_admin? %>
            <td><%= product.company.name %></td>
          <% end %>
          <td class="action-links">
            <%= link_to fa_icon('pencil', text: 'Edit'), edit_product_path(product), class: 'action-link' %>
            <%= link_to fa_icon('times', text: 'Delete'), product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

<% end %>
