<div class="page-header">
  <h1>List of Products</h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= render partial: 'filter' %>

<div class="col-sm-6 without-padding">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.number %></td>
        <td class="action-links">
          <%= link_to fa_icon('pencil', text: 'Edit'), edit_product_path(product), class: 'action-link' %>
          <%= link_to fa_icon('times', text: 'Delete'), product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
