<div class="page-header">
  <h1>List of Products</h1>
</div>

<%= render partial: 'nav_tabs' %>
<%= render partial: 'filter' %>

<div class="col-sm-6 without-padding">
  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Hidden</th>
      <th>Hidden at</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.number %></td>
        <td><%= product.hidden %></td>
        <td><%= product.hidden_at %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
