<ul class='nav nav-tabs'>

  <%=  %>

  <li title="" rel="" class="icon index_collection_link <%= index_active %>">
    <%= link_to fa_icon('th-list', text: 'List'), receipts_path %>
  </li>

  <li title="" rel="" class="icon new_collection_link <%= new_active %>">
    <%= link_to fa_icon('plus', text: 'Add new'), new_receipt_path %>
  </li>

  <li class="dropdown" style="float: right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Selected items
    </a>
    <ul class="dropdown-menu dropdown-menu-right" style="left: auto; right: 0;">
      <li>
        <a href="#">Export Receipts</a>
      </li>
      <li>
        <a href="#">Delete Receipts</a>
      </li>
    </ul>
  </li>

  <li class='dropdown' style='float: right'>
    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
      Add filter
    </a>
    <ul class='dropdown-menu dropdown-menu-right' id='filters' style="left: auto; right: 0;">
      <li>
        <a data-field-label='Id' data-field-name='id' data-field-options='' data-field-type='integer' data-field-value='' href='#'>Id</a>
      </li>
      <li>
        <a data-field-label='Number' data-field-name='number' data-field-options='' data-field-type='string' data-field-value='' href='#'>Number</a>
      </li>
      <li>
        <a data-field-label='Car number' data-field-name='car_number' data-field-options='' data-field-type='string' data-field-value='' href='#'>Car
          number</a>
      </li>
      <li>
        <a data-field-label='Semitrailer number' data-field-name='semitrailer_number' data-field-options='' data-field-type='string' data-field-value='' href='#'>Semitrailer
          number</a>
      </li>
      <li>
        <a data-field-datetimepicker-format='MMMM DD, YYYY HH:mm' data-field-label='Expiration from' data-field-name='expiration_from' data-field-options='' data-field-type='datetime' data-field-value='' href='#'>Expiration
          from</a>
      </li>
      <li>
        <a data-field-datetimepicker-format='MMMM DD, YYYY HH:mm' data-field-label='Expiration to' data-field-name='expiration_to' data-field-options='' data-field-type='datetime' data-field-value='' href='#'>Expiration
          to</a>
      </li>
      <li>
        <a data-field-label='Hidden' data-field-name='hidden' data-field-options='' data-field-type='boolean' data-field-value='' href='#'>Hidden</a>
      </li>
      <li>
        <a data-field-datetimepicker-format='MMMM DD, YYYY HH:mm' data-field-label='Hidden at' data-field-name='hidden_at' data-field-options='' data-field-type='datetime' data-field-value='' href='#'>Hidden
          at</a>
      </li>
      <li>
        <a data-field-label='Product' data-field-name='product' data-field-options='' data-field-type='belongs_to_association' data-field-value='' href='#'>Product</a>
      </li>
      <li>
        <a data-field-label='Driver' data-field-name='driver' data-field-options='' data-field-type='belongs_to_association' data-field-value='' href='#'>Driver</a>
      </li>
      <li>
        <a data-field-label='User' data-field-name='user' data-field-options='' data-field-type='belongs_to_association' data-field-value='' href='#'>User</a>
      </li>
      <li>
        <a data-field-label='Company' data-field-name='company' data-field-options='' data-field-type='belongs_to_association' data-field-value='' href='#'>Company</a>
      </li>
      <li>
        <a data-field-datetimepicker-format='MMMM DD, YYYY HH:mm' data-field-label='Created at' data-field-name='created_at' data-field-options='' data-field-type='datetime' data-field-value='' href='#'>Created
          at</a>
      </li>
      <li>
        <a data-field-datetimepicker-format='MMMM DD, YYYY HH:mm' data-field-label='Updated at' data-field-name='updated_at' data-field-options='' data-field-type='datetime' data-field-value='' href='#'>Updated
          at</a>
      </li>
    </ul>
  </li>

</ul>
