<div class="page-header">
  <h1>List of Receipts</h1>
</div>

<%= render partial: 'nav_tabs' %>

<%= render partial: 'filter' %>

<% if @receipts.empty? %>
  <p> - no results found - </p>
<% else %>

  <table class="table table-condensed table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Number</th>
      <th>Car number</th>
      <th>Semitrailer number</th>
      <th>Driver</th>
      <th>Product</th>
      <th>Expiration from</th>
      <th>Expiration to</th>
      <th>Editor</th>
      <th>Edited at</th>
      <th>Creator</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= check_box_tag 'select', 'yes', false, class: 'list-checkbox', 'data-id' => receipt.id %></td>
        <td><%= receipt.number %></td>
        <td><%= receipt.car_number %></td>
        <td><%= receipt.semitrailer_number %></td>
        <td><%= receipt.driver.full_name %></td>
        <td><%= receipt.product.name %></td>
        <td><%= date_format(receipt.expiration_from) %></td>
        <td><%= date_format(receipt.expiration_to) %></td>
        <td><%= receipt.user.full_name %></td>
        <td><%= date_format(receipt.updated_at) %></td>
        <td><%= receipt.user.full_name %></td>
        <td><%= date_format(receipt.created_at) %></td>
        <td class="action-links">
          <%= link_to fa_icon('eye', text: 'View'), receipt, class: 'action-link' %>
          <%= link_to fa_icon('pencil', text: 'Edit'), edit_receipt_path(receipt), class: 'action-link' %>
          <%= link_to fa_icon('times', text: 'Delete'), receipt, method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-link' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
