<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @receipt.number %>
</p>

<p>
  <strong>Car number:</strong>
  <%= @receipt.car_number %>
</p>

<p>
  <strong>Semitrailer number:</strong>
  <%= @receipt.semitrailer_number %>
</p>

<p>
  <strong>Company:</strong>
  <%= @receipt.company_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @receipt.product_id %>
</p>

<p>
  <strong>Expiration from:</strong>
  <%= @receipt.expiration_from %>
</p>

<p>
  <strong>Expiration to:</strong>
  <%= @receipt.expiration_to %>
</p>

<p>
  <strong>Hidden:</strong>
  <%= @receipt.hidden %>
</p>

<p>
  <strong>Hidden at:</strong>
  <%= @receipt.hidden_at %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
