<!DOCTYPE html>
<html>
  <head>
    <title>PGE Turów - awizacja ważeń</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= hidden_field_tag :current_user_locale, current_user.try(:locale) %>

    <%= bootstrap_flash %>

    <%= render partial: 'shared/header' %>

    <div class="main-content container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
